{% load bootstrap3%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    {% block styles%}
        {% bootstrap_css %}
        <link rel="stylesheet" href="../../static/css/locations.css">
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>